<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediSense</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/js/bootstrap.bundle.min.js">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- ------------------------- Section-1 ---------------- START ------------------------- -->

    <section class="section-1">
        <div class="container">
            <div class="d-flex justify-content-start">
                <div class="align-items-center sec1-text">
                    <h6>MEDICINE</h6>
                    <h1>YOUR HEALTH IS <br> YOUR WEALTH</h1>
                    <h6>HAVE YOUR CHEAPEST MEDICINE ONLINE</h6>
                    <a href="#" class="get-now text-center">GET IT NOW</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------- Section-1 ----------------  END     ------------------------- -->


    <!-- ------------------------- Section-2 ----------------  START   ------------------------- -->


    <section class="d-flex">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="sec-2-cont sec2-left-img">
                        <div></div>
                        <div class="box-content love-care-txt">
                            <h5 class="mb-2 fs-6">LOVE - CARE - UNDERSTAND</h5>
                            <h2 class="mb-4 fs-4">FREE ONLINE 24/7<br>CONSULTING SERVICES</h2>
                            <a href="#" class="meet-btn">MEET OUR DOCTOR</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="sec-2-cont sec2-right-img">
                        <div></div>
                        <div class="deal-txt">
                            <h5 class="mb-2 fs-6">DEAL OF THE DAY</h5>
                            <h2 class="mb-4 fs-1">20% OFF</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ------------------------- Section-2 ---------------- END    ------------------------- -->



    <!-- ------------------------- Section-3 ---------------- START   ------------------------- -->

    <section>
        <div class="container py-5">
            <div class="border-line container fw-bold"><span class="border-line-text">MEDICINE</span></div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/sundown-naturals.webp" class="img-fluid" width="160px"
                            alt="">
                    </div>
                    <h6 class="text-center">Sundown Naturals</h6>
                    <h6 class="text-center text-danger">$5.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/nature-made-vitamins.webp" class="img-fluid" width="160px"
                            alt="">
                    </div>
                    <h6 class="text-center">Nature Made Vitamin</h6>
                    <h6 class="text-center text-danger">$12.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/axe-vitamin-B.webp" class="img-fluid" width="160px" alt="">
                    </div>
                    <h6 class="text-center">Axe Vitamin B</h6>
                    <h6 class="text-center text-danger">$5.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/Biotin-vitamin.webp" class="img-fluid" width="160px" alt="">
                    </div>
                    <h6 class="text-center">Biotin vitamin</h6>
                    <h6 class="text-center text-danger">$60.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------- Section-3 ---------------- END     ------------------------- -->

    <!-- ------------------------- Section-4 ---------------- sTART   ------------------------- -->

    <section>
        <div class="container py-5">
            <div class="border-line container fw-bold"><span class="border-line-text">VITAMINS & SUPPLEMENTS</span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/sundown-naturals.webp" class="img-fluid" width="160px"
                            alt="">
                    </div>
                    <h6 class="text-center">Sundown Naturals</h6>
                    <h6 class="text-center text-danger">$5.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/nature-made-vitamins.webp" class="img-fluid" width="160px"
                            alt="">
                    </div>
                    <h6 class="text-center">Nature Made Vitamin</h6>
                    <h6 class="text-center text-danger">$12.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/axe-vitamin-B.webp" class="img-fluid" width="160px" alt="">
                    </div>
                    <h6 class="text-center">Axe Vitamin B</h6>
                    <h6 class="text-center text-danger">$5.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/pictures/Biotin-vitamin.webp" class="img-fluid" width="160px" alt="">
                    </div>
                    <h6 class="text-center">Biotin vitamin</h6>
                    <h6 class="text-center text-danger">$60.00</h6>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="add-cart-btn-need col">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------- Section-4 ---------------- END   ------------------------- -->


    <!-- ------------------------- Section-5 ---------------- START ------------------------- -->

    <section class="container  mt-5">
        <div class="border-line container fw-bold"><span class="border-line-text">OTHERS</span></div>
        <div class="row">
            <div class="row d-flex justify-content-center">
                <div class="row col-12 col-md-9">
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/sundown-naturals.webp" class="img-fluid" width="160px"
                                alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/nature-made-vitamins.webp" class="img-fluid"
                                width="160px" alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/axe-vitamin-B.webp" class="img-fluid" width="160px"
                                alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/Biotin-vitamin.webp" class="img-fluid" width="160px"
                                alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/california-vitamin-c.webp" class="img-fluid"
                                width="160px" alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="../assets/images/pictures/agape-liquid-vitamin.webp" class="img-fluid"
                                width="160px" alt="">
                        </div>
                        <h6 class="text-center">Sundown Naturals</h6>
                        <h6 class="text-center text-danger">$5.00</h6>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="add-cart-btn-need col-12">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="d-grid col-12 col-md-3">
                    <div class="row justify-content-center">
                        <div class="row col-12 col-md-12 align-items-center">
                            <h2 class="side-top-head mt-md-9 mt-5"><i class="fa-solid fa-star"></i>&nbsp;&nbsp;You may
                                also
                                need</h2>
                        </div>
                        <div class="row col-6 col-md-12 align-items-center">
                            <div class="col-12 col-md-4">
                                <img src="../assets/images/pictures/sundown-naturals.webp" class="img-fluid"
                                    width="160px" alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h6 class="text-center">Sundown Naturals</h6>
                                <h6 class="text-center text-danger">$5.00</h6>
                            </div>
                        </div>
                        <div class="row col-6 col-md-12 align-items-center">
                            <div class="col-12 col-md-4">
                                <img src="../assets/images/pictures/nature-made-vitamins.webp" class="img-fluid"
                                    width="160px" alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h6 class="text-center">Sundown Naturals</h6>
                                <h6 class="text-center text-danger">$5.00</h6>
                            </div>
                        </div>
                        <div class="row col-6 col-md-12 align-items-center">
                            <div class="col-12 col-md-4">
                                <img src="../assets/images/pictures/axe-vitamin-B.webp" class="img-fluid" width="160px"
                                    alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h6 class="text-center">Sundown Naturals</h6>
                                <h6 class="text-center text-danger">$5.00</h6>
                            </div>
                        </div>
                        <div class="row col-6 col-md-12 align-items-center">
                            <div class="col-12 col-md-4">
                                <img src="../assets/images/pictures/Biotin-vitamin.webp" class="img-fluid" width="160px"
                                    alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <h6 class="text-center">Sundown Naturals</h6>
                                <h6 class="text-center text-danger">$5.00</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- ------------------------- Section-5 ---------------- END   ------------------------- -->

    <!-- ----------------------- Section-6 ------------------ START ------------------------- -->

    <section class="container-fluid section-6">
        <div class="row align-items-center ms-0 ms-md-5 section-6-topup">
            <div class="col-12 col-md-4 sec6-img d-flex justify-content-center">
                <img src="../assets/images/pictures/appointment-img.png" alt="">
            </div>
            <div class="col-12 col-md-8 text-white text-center text-md-start sec6-txt">
                <h2 class="mb-3 fw-bold"> DO YOU WANT A PRIVATE DOCTOR?</h2>
                <h3 class="mb-4">Make a FREE appointment today!</h3>
                <a href="#" class="appointment-btn"><i
                        class="fa-solid fa-calendar-check fs-5"></i>&nbsp;&nbsp;&nbsp;MAKE APPOINTMENT</a>
            </div>
        </div>
    </section>

    <!-- ----------------------- Section-6 ------------------ END   ------------------------- -->

    <!-- ----------------------- Section-7 ------------------ START   ------------------------- -->

    <section class="container mt-5">
        <div class="container d-flex">
            <div class="row justify-content-center align-items-center">
                <div class="row col-12 col-md-7 align-items-center">
                    <div class="border-line container fw-bold well-line"><span class="border-line-text">WAY TO LIVE
                            WELL</span></div>
                    <div class="col-12 col-md-6">
                        <img src="../assets/images/pictures/celina-img.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-6">
                        <h6 class="mt-3">CELINA BRAGINSKY - CEO OF MEDISENE</h6>
                        <p class="sec7-txt mt-2">Customers love our easy to shop website and that we make a broad range
                            of
                            products
                            conveniently
                            accessible to Canadians. Plus, with a friendly and helpful customer care team and super fast
                            shipping that’s free in Canada over $29.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="../assets/images/pictures/beulah-park-img.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <h6 class="mt-3">BEULAH PARK - CEO OF MEDISENE</h6>
                        <p class="sec7-txt mt-2">We’re a fast-growing, proudly Canadian company that’s passionate about
                            our
                            customers, our business, and the products we sell. There’s a real person behind every item
                            we offer, every package we ship, and we have with you.</p>
                    </div>
                </div>

                <div class="col-12 col-md-5 justify-content-center">
                    <div class="border-line container fw-bold mb-3"><span class="border-line-text">WAY TO LIVE
                            WELL</span></div>
                    <table class="table-bordered">
                        <tr>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-1.png" class="img-fluid"
                                    alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-2.png" class="img-fluid"
                                    alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-3.png" class="img-fluid"
                                    alt=""></td>
                        </tr>
                        <tr>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-4.webp"
                                    class="img-fluid" alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-5.png" class="img-fluid"
                                    alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-6.png" class="img-fluid"
                                    alt=""></td>
                        </tr>
                        <tr>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-7.png" class="img-fluid"
                                    alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-8.png" class="img-fluid"
                                    alt=""></td>
                            <td class="table-padding"><img src="../assets/images/pictures/brand-9.png" class="img-fluid"
                                    alt=""></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------ Section - 8 -------------- START ------------ -->
    <hr class="last-design">
    <section class="container section-8">
        <div class="row align-items-center">
            <div class="col-12 col-md-3 last-dd gap-3">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-311adf7a-9c87-462c-acf3-13cd711fa94c--Medisense-15.png?150979"
                    class="img-fluid" alt="AUTHENTIC PRODUCTS">
                <div>
                    <h6>AUTHENTIC PRODUCTS</h6>
                    <p>Items with certificates</p>
                </div>
            </div>
            <div class="col-12 col-md-3 last-dd gap-3">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-94df668d-4b51-4225-9a3c-dfffec8a3343--Medisense-16.png?v=1698379068"
                    class="img-fluid" alt="QUICK EMERGENCY">
                <div>
                    <h6>QUICK EMERGENCY</h6>
                    <p>1st priority for emergencies</p>
                </div>
            </div>
            <div class="col-12 col-md-3 last-dd gap-3">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-8a3b05f0-fe3e-4376-b14b-400811ef0f54--Medisense-17.png?v=1698379068"
                    class="img-fluid" alt="CASH ON DELIVERY">
                <div>
                    <h6>CASH ON DELIVERY</h6>
                    <p>For orders over $100</p>
                </div>
            </div>
            <div class="col-12 col-md-3 last-dd gap-3">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-136722dc-6336-4979-a522-f7bef2d937c1--Medisense-18.png?v=1698379068"
                    class="img-fluid" alt="BEST CONSULTANCY">
                <div>
                    <h6>BEST CONSULTANCY</h6>
                    <p>Best health consultancy</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------ Section - 8 -------------- END ------------ -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>